        body, h1, h2, h3, p, ul, li, a {
            margin: 0;
            padding: 0px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        body {
            line-height: 1.6;
            background-color: #420808;
            color: #ffffff;
        }

        @media screen and (max-width: 600px) {

            .section-sobre p {
                width: 90%;
            }

            .practice-container {
                flex-direction: column;
                gap: 20px;
                align-items: center;
            }

            .practice-box {
                width: 90%;
            }
        }

        .container {
            width: 100%;
            overflow: hidden;
            padding: 10px 10px;
        }

        /* Cabeçalho */
        header {
            background: #420808;
            padding-top: 10px;
            min-height: 60px;
            border-bottom: #f4b56c 3px solid;
            position: sticky;
            top: 0;
            z-index: 1000;
        }

        header a {
            color: #f4b56c;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 20px;
        }

        header li {
            display: inline-block;
            position: relative;
            padding: 10px 10px;
            font-size: 20px;
        }
        
        header #branding h1 {
            margin: 10px;
        }

        header nav {
            text-align: center;
            margin-top: 0px;
        }

        /* Seção Hero (Apresentação) */
        #hero {
            min-height: 200px;
            background: url('https://images.unsplash.com/photo-1589216532372-1c2a36790049?q=80&w=2070') no-repeat center center/cover; /* Imagem de fundo profissional */
            text-align: center;
            color: #f4b56c;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: Tahoma;
        }

        #hero h1 {
            font-size: 55px;
            margin-bottom: 10px;
            text-shadow: 2px 2px 4px #000000;
        }

        #hero h2 {
            font-size: 55px;
            margin-bottom: 10px;
            text-shadow: 0px 2px 4px #000000;
        }

        #hero p {
            font-size: 25px;
            text-shadow: 1px 1px 2px #000;
            font-family: Tahoma;
        }

        /* Seções */
        section {
            padding: 40px 0;
        }

        .section-title {
            text-align: center;
            font-size: 35px;
            margin-bottom: 30px;
            color: #f4b56c;
            text-shadow: 2px 2px 4px #000000;
        }

        .section-sobre {
            text-align: center;
            font-size: 40px;
            color: #f4b56c;
            text-shadow: 4px 4px 8px #000000;
            font-family: sans-serif ;
        }

        .section-sobre p {
            font-size: 20px;
            color: #f4b56c;
            text-shadow: 2px 2px 4px #000000;
            font-family: sans-serif;
            width: 1200px;
            left: 1200px;
            text-align: center;
            margin: 0 auto;
        }
    

        /* Sobre */
        #about img {
            float: center;
            width: 300px;
            height: 300px;
            border-radius: 50%;
            margin-right: 30px;
            object-fit: cover;
            border: 5px solid #f2a900;
        }

        /* Áreas de Atuação */
        #practice-areas {
            background: #420808;
        }

        .practice-container {
            display: flex;
            justify-content: center;
            gap: 100px;
        }

        .practice-box {
            width: 350px;
            text-align: center;
            text-shadow: 2px 2px 4px #000000;
        }

        .img-box {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .img-box img {
            width: 200px;
            height: 200px;
            border-radius: 50%; 
            object-fit: cover;
            border: 3px solid #f2a900;
        }

        .img-box h3 {
            position: absolute;
            top: 10px;
            left: 50%;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 18px;
        }

        .practice-box h3 {
            color: #f4b56c;
            font-size: 30px;
            margin-bottom: 15px;
        }

        .practice-box p {
            font-size: 20px;
            color: #ffffff;
            margin: 10px;
        }

        /* Contato */

        #contact .selection-title {
            text-align: center;
            margin-bottom: 40px;
        }
        #contact form {
            display: flex;
            flex-direction: column;
            max-width: 600px;
            margin: auto;
        }

        #contact input, #contact textarea {
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            font-family: sans-serif;
        }

        #contact button {
            padding: 15px;
            border: none;
            border-radius: 5px;
            background: #f2a900;
            color: #003366;
            font-size: 18px;
            cursor: pointer;
            font-weight: bold;
            transition: background-color 0.3s ease;
        }

        #contact button:hover {
            background: #d99800;
        }

        /* Rodapé */
        .footer {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 30px;
            border-top: #f2a900 3px solid;
            margin-top: 50px;
            padding: 6px 0;
            background-color: #420808;
            color: #ffffff;
        }

        .footer-info {
            text-align: center;
        }

        .footer-info p {
            margin: 3px 0;
            font-size: 16px;
        }

        .social-buttons-info {
            margin-bottom: 0;
        }

        .social-buttons-info img {
            width: 30px;
            height: 30px;
        }

        .social-buttons-info img:hover {
            transform: scale(1.1);
        }

        .social-buttons {
            text-align: center;
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
            gap: 30px;
       }

        .social-buttons a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 30px;
            height: 30px;
            transition: 0.3s;
        }

        .social-buttons img {
            width: 50px;
            height: 50px;
        }

        .social-buttons a:hover {
            background: #f4b56c;
        }

        .social-buttons img:hover {
            transform: scale(1.1);
        }